<div class="samples-bg">
    <ul class="flex clear clear-list selector">
        <li class="switch" ng-repeat="selector in selectors">
            <div  ng-click="toggle(selector.count)">{{selector.count}}</div>
        </li>
    </ul>
    <div class="flex samples clear clear-list" ng-class="number">
        <ul class="flex sample center first">
            <li ng-repeat="sample in samplesPartOne" class="center flex">
                <img ng-src="{{sample.file}}" class="center" />
            </li>
        </ul>
        <ul class="flex sample center second">
            <li ng-repeat="sample in samplesPartTwo" class="center flex">
                <img ng-src="{{sample.file}}" class="center" />
            </li>
        </ul>
    </div>
</div>