<div class="samples-bg">
    <div class="flex samples clear clear-list" ng-class="number">
        <ul class="flex sample center first">
            <li ng-repeat="sample in samplesPartOne" class="center flex">
                <img ng-src="{{sample.file}}" class="center" />
            </li>
        </ul>
        <ul class="flex sample center second">
            <li ng-repeat="sample in samplesPartTwo" class="center flex">
                <img ng-src="{{sample.file}}" class="center" />
            </li>
        </ul>
    </div>
</div>