.about-bg {
    background-image: url("../images/backgrounds/about.jpg");
    background-position: center center;
    -ms-background-size: cover;
    background-size: cover;
}

.about-bg .center {
    width: 60%;
    font-size: 1.6em;
}

.about {
    text-align: justify;
    margin: 0;
}

.sign {
    text-align: right;
}