.brand-bg {
    background-image: url("../images/backgrounds/brand.jpg");
    background-position: center center;
    -ms-background-size: cover;
    background-size: cover;
}

.brand {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}