.brand-bg {
    background-image: url("../images/backgrounds/brand.jpg");
    background-position: center center;
    -ms-background-size: cover;
    background-size: cover;
}

.brand {
    width: 350px;
    height: 350px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.brand p {
    font-size: 2em;
}

.center {
    margin: auto;
}