form[name=details] > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
}

form[name=details] > div > div {
    height: 400px;
    width: 400px;
    margin: auto;
}

.information input,
.information textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.information textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    height: 100px;
    overflow: auto;
    outline: none;
}

.information .ng-dirty.ng-invalid {
    background-color: #ffc6cb;
}