.dropzone {
    border: 1px solid #ffffff;
}

.dropzone input {
    opacity: 0;
    position: absolute;
}

.dropzone img {
    width: 60px;
    height: 80px;
}

.btn-remove {
    width: 20px;
    height: 20px;
    background-color: #f5f5ff;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
}