.dropzone {
    border: 1px solid #ffffff;
}

.dropzone input {
    opacity: 0;
    position: absolute;
}

.dropzone img {
    width: 110px;
    height: 165px;
}

.dropzone ul {
    margin: 0;
    padding: 0;
}

.btn-remove {
    width: 40px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    color: rgb(255, 160, 160);
    top: -5px;
    right: -5px;
    font-size: 3em;
    text-align: center;
    line-height: 0.4em;
}

.btn-remove:hover {
    background-color: rgba(245, 245, 245, 1);
    color: rgb(255, 0, 0);
}

.btn-remove::before {
    content: '\0fbe';
}

.preview {
    float: left;
    margin: 10px;
    position: relative;
}