.behind {
    z-index: 1;
}

.help {
    position: relative;
    margin: auto;
    padding: 10px 40px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: #000000;
    background: #ffffff;
    z-index: 2;
}

.help > ul {
    padding-left: 5%;
}

.close-help {
    position: absolute;
    right: 15px;
    top: -1px;
    color: #b5b5b5;
    cursor: pointer;
}

.close-help:hover {
    color: #000000;
}

.close-help::before {
    content: '\02df';
}

.steps {
    margin: 0;
    padding: 0;
}

.step {
    float: left;
    width: 33%;
    text-align: center;
}

.step p {
    font-size: 8em;
    padding: 0;
    margin: 0;
}

.red {
    color: #ff0000;
}

.one::before {
    content: '\2460';
}

.blue {
    color: #0000ff;
}

.two::before {
    content: '\2461';
}

.green {
    color: #00ff00;
}

.three::before {
    content: '\2462';
}