html, body, .view-animate-container, .view-animate, .view-animate > div {
    height: 100%;
}

.view-animate-container {
    position: relative;
    overflow: hidden;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.view-animate.ng-leave {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Swipe Up */

.view-animate.ng-enter.swipe-up {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

    .view-animate.ng-enter.ng-enter-active.swipe-up {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

.view-animate.ng-leave.ng-leave-active.swipe-up {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* Swipe Down */

.view-animate.ng-enter.swipe-down {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

    .view-animate.ng-enter.ng-enter-active.swipe-down {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

.view-animate.ng-leave.ng-leave-active.swipe-down {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

/* Swipe Left */

.view-animate.ng-enter.swipe-left {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

    .view-animate.ng-enter.ng-enter-active.swipe-left {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

.view-animate.ng-leave.ng-leave-active.swipe-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* Swipe Right */

.view-animate.ng-enter.swipe-right {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

    .view-animate.ng-enter.ng-enter-active.swipe-right {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

.view-animate.ng-leave.ng-leave-active.swipe-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.left-side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
}

.fog {
    background: rgba(255, 255, 255, 0.7);
}