@media only screen and (max-width: 767px) and (orientation:portrait) {
    .brand {
        width: 150px;
        height: 150px;
        font-size: 0.8em;
    }

    .about-bg .center {
        font-size: 0.6em;
    }

    .service-name {
        font-size: 0.8em;
        padding: 10px 25px;
        left: 3%;
    }

    form[name=details],
    .help {
        font-size: 8px;
    }

    .help {
        width: 300px;
    }

    .close-help {
        font-size: 5em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 200px;
        width: 200px;
    }

    .information input,
    .information textarea {
        padding: 5px;
        margin: 5px 0;
    }

    .information textarea {
        height: 50px;
    }
}

@media only screen and (max-width: 767px) and (orientation:landscape) {
    .brand {
        width: 150px;
        height: 150px;
        font-size: 0.8em;
    }

    .about-bg .center {
        font-size: 0.6em;
    }

    .service-name {
        font-size: 0.8em;
        padding: 10px 25px;
        left: 5%;
    }

    .help {
        width: 300px;
    }

    .close-help {
        font-size: 5em;
    }

    form[name=details],
    .help {
        font-size: 8px;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 200px;
        width: 200px;
    }

    .information input,
    .information textarea {
        padding: 5px;
        margin: 5px 0;
    }

    .information textarea {
        height: 50px;
    }
}

@media only screen and (min-width: 768px) and (orientation:portrait) {
    .brand {
        width: 250px;
        height: 250px;
        font-size: 1.4em;
    }

    .about-bg .center {
        font-size: 1.4em;
    }

    .service-name {
        font-size: 1.4em;
        padding: 15px 33px;
        left: 10%;
    }

    .help {
        width: 600px;
        height: 440px;
    }

    .close-help {
        font-size: 3em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 300px;
        width: 300px;
    }

    .information input,
    .information textarea {
        padding: 7px;
        margin: 7px 0;
    }

    .information textarea {
        height: 83px;
    }

    form[name=details],
    .help {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 768px) and (orientation:landscape) {
    .brand {
        width: 250px;
        height: 250px;
        font-size: 1.4em;
    }

    .about-bg .center {
        font-size: 1.4em;
    }

    .service-name {
        font-size: 1.4em;
        padding: 15px 33px;
        left: 10%;
    }

    .help {
        width: 600px;
        height: 440px;
    }

    .close-help {
        font-size: 3em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 300px;
        width: 300px;
    }

    .information input,
    .information textarea {
        padding: 7px;
        margin: 7px 0;
    }

    .information textarea {
        height: 83px;
    }

    form[name=details],
    .help {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 992px) {
    .brand {
        width: 250px;
        height: 250px;
        font-size: 1.4em;
    }

    .about-bg .center {
        font-size: 1.6em;
    }

    .service-name {
        font-size: 2em;
        padding: 20px 50px;
        left: 9%;
    }

    .service-name {
        font-size: 2em;
        padding: 20px 50px;
        left: 15%;
    }

    .help {
        width: 600px;
        height: 440px;
    }

    .close-help {
        font-size: 3em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 400px;
        width: 400px;
    }

    .information input,
    .information textarea {
        padding: 10px;
        margin: 10px 0;
    }

    .information textarea {
        height: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .brand {
        width: 350px;
        height: 350px;
        font-size: 2em;
    }

    .about-bg .center {
        font-size: 1.6em;
    }

    .service-name {
        font-size: 2em;
        padding: 20px 50px;
        left: 15%;
    }

    .help {
        width: 600px;
        height: 440px;
    }

    .close-help {
        font-size: 3em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 400px;
        width: 400px;
    }

    .information input,
    .information textarea {
        padding: 10px;
        margin: 10px 0;
    }

    .information textarea {
        height: 100px;
    }
}

@media only screen and (min-width : 1824px) {
    .brand {
        width: 350px;
        height: 350px;
        font-size: 2em;
    }

    .about-bg .center {
        font-size: 1.6em;
    }

    .service-name {
        font-size: 2em;
        padding: 20px 50px;
        left: 15%;
    }

    .help {
        width: 600px;
        height: 440px;
    }

    .close-help {
        font-size: 3em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 400px;
        width: 400px;
    }

    .information input,
    .information textarea {
        padding: 10px;
        margin: 10px 0;
    }

    .information textarea {
        height: 100px;
    }
}