<div ng-show="show" class="flex full">
    <div class="full fog behind"></div>
    <div class="help">
        <span class="close-help" ng-click="close()"></span>
        <h1>{{header}}</h1>
        <ul>
            <li ng-repeat="usage in usages">{{usage}}</li>
        </ul>
        <div>
            <ul class="steps">
                <li ng-repeat="step in steps">
                    <div ng-class="step.class" class="step">
                        <p ng-class="step.order"></p>
                        <span>{{step.description}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
