.information input,
.information textarea {
    width: 100%;
    margin: auto;
}

.information textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    overflow: auto;
    outline: none;
    display: block;
}

.information .ng-dirty.ng-invalid {
    background-color: #ffc6cb;
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
    -webkit-flex-direction: column;
}