.information input,
.information textarea {
    width: 100%;
}

.information textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    overflow: auto;
    outline: none;
}

.information .ng-dirty.ng-invalid {
    background-color: #ffc6cb;
}

.flex-container {
    flex-wrap: wrap;
}