@media only screen and (min-width: 768px) and (orientation:portrait) {
    .vertical {
        margin-left: -20px;
        width: 40px;
        height: 40px;
        font-size: 1em;
    }

    .up {
        top: 70px;
    }

    .down {
        bottom: 20px;
    }

    .horizontal {
        margin-top: -28px;
        width: 56px;
        height: 56px;
        font-size: 3em;
    }

    .right {
        right: 15px;
    }

    .left {
        left: 15px;
    }

    .brand {
        width: 250px;
        height: 250px;
        font-size: 1.4em;
    }

    .about-bg .center {
        font-size: 1.2em;
    }

    .service {
        font-size: 1.4em;
        margin-bottom: 20px;
    }

    .service div {
        padding: 15px 33px;
    }

    .help {
        width: 600px;
        height: 440px;
    }

    .close-help {
        font-size: 3em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 300px;
        width: 300px;
    }

    .information input,
    .information textarea {
        padding: 7px;
    }

    .information textarea {
        flex-basis: 80px;
    }

    form[name=details],
    .help {
        font-size: 0.8em;
    }

    .btn-remove {
        width: 30px;
        height: 30px;
        top: -8px;
        right: -8px;
        font-size: 2.5em;
        line-height: 0.5em;
    }

    .contacts {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) and (orientation:landscape) {
    .vertical {
        margin-left: -20px;
        width: 40px;
        height: 40px;
        font-size: 1em;
    }

    .up {
        top: 70px;
    }

    .down {
        bottom: 20px;
    }

    .horizontal {
        margin-top: -28px;
        width: 56px;
        height: 56px;
        font-size: 3em;
    }

    .right {
        right: 15px;
    }

    .left {
        left: 15px;
    }

    .brand {
        width: 250px;
        height: 250px;
        font-size: 1.4em;
    }

    .about-bg .center {
        font-size: 1.2em;
    }

    .service {
        font-size: 1.4em;
        margin-bottom: 20px;
    }

    .service div {
        padding: 15px 33px;
    }

    .help {
        width: 600px;
        height: 440px;
    }

    .close-help {
        font-size: 3em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 300px;
        width: 300px;
    }

    .information input,
    .information textarea {
        padding: 7px;
    }

    .information textarea {
        flex-basis: 80px;
    }

    form[name=details],
    .help {
        font-size: 0.8em;
    }

    .btn-remove {
        width: 30px;
        height: 30px;
        top: -8px;
        right: -8px;
        font-size: 2.5em;
        line-height: 0.5em;
    }

    .contacts {
        font-size: 1em;
    }
}