@media only screen and (max-width: 767px) and (orientation:portrait) {
    .vertical {
        margin-left: -15px;
        width: 30px;
        height: 30px;
        font-size: 0.8em;
    }

    .up {
        top: 60px;
    }

    .up > span {
        padding-bottom: 3px;
    }

    .down {
        bottom: 10px;
    }

    .horizontal {
        margin-top: -20px;
        width: 40px;
        height: 40px;
        font-size: 2em;
    }

    .right {
        right: 7px;
    }

    .left {
        left: 7px;
    }

    .brand {
        width: 150px;
        height: 150px;
        font-size: 0.8em;
    }

    .about-bg .center {
        font-size: 0.6em;
    }

    .service {
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    .service div {
        padding: 10px 20px;
    }

    form[name=details],
    .help {
        font-size: 0.5em;
    }

    form[name=details].full {
        top: 90px;
        bottom: 40px;
    }

    .help {
        width: 300px;
    }

    .close-help {
        font-size: 5em;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 200px;
        width: 200px;
    }

    .information input,
    .information textarea {
        padding: 4px;
    }

    .information textarea {
        flex-basis: 50px;
    }

    .btn-remove {
        width: 20px;
        height: 20px;
        top: -5px;
        right: -5px;
        font-size: 2.5em;
        line-height: 0.5em;
    }

    .contacts {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 767px) and (orientation:landscape) {
    .vertical {
        margin-left: -15px;
        width: 30px;
        height: 30px;
        font-size: 0.8em;
    }

    .up {
        top: 60px;
    }

    .up > span {
        padding-bottom: 3px;
    }

    .down {
        bottom: 10px;
    }

    .horizontal {
        margin-top: -20px;
        width: 40px;
        height: 40px;
        font-size: 2em;
    }

    .right {
        right: 7px;
    }

    .left {
        left: 7px;
    }

    .brand {
        width: 150px;
        height: 150px;
        font-size: 0.8em;
    }

    .about-bg .center {
        font-size: 0.6em;
    }

    .service {
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    .service div {
        padding: 10px 20px;
    }

    .help {
        width: 300px;
    }

    .close-help {
        font-size: 5em;
    }

    form[name=details],
    .help {
        font-size: 0.5em;
    }

    form[name=details].full {
        top: 50px;
    }

    .information,
    .dropzone,
    .dropzone input {
        height: 200px;
        width: 200px;
    }

    .information input,
    .information textarea {
        padding: 4px;
    }

    .information textarea {
        flex-basis: 50px;
    }

    .btn-remove {
        width: 20px;
        height: 20px;
        top: -5px;
        right: -5px;
        font-size: 2.5em;
        line-height: 0.5em;
    }

    .contacts {
        font-size: 0.7em;
    }
}