@media only screen and (max-width: 767px) and (orientation:portrait) {
    .one .sample img {
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 767px) and (orientation:landscape) {
    .one .sample img {
        width: auto;
        height: 100%;
    }

}