@media only screen and (min-width: 768px) and (orientation:portrait) {
    .one .sample img {
        width: 100%;
        height: auto;
    }

    .two .first {
        position: absolute;
        left: 5px;
        top: 5px;
        right: 5px;
        bottom: 50%;
        padding-bottom: 5px;
    }

    .two .second {
        position: absolute;
        left: 5px;
        top: 50%;
        right: 5px;
        bottom: 5px;
        padding-top: 5px;
    }

    .two .sample img {
        width: auto;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) and (orientation:landscape) {
    .one .sample img {
        width: auto;
        height: 100%;
    }

    .two .first {
        position: absolute;
        left: 5px;
        top: 5px;
        right: 50%;
        bottom: 5px;
        padding-right: 5px;
    }

    .two .second {
        position: absolute;
        left: 50%;
        top: 5px;
        right: 5px;
        bottom: 5px;
        padding-left: 5px;
    }

    .two .sample img {
        width: 100%;
        height: auto;
    }
}