@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .one .sample img,
    .two .sample img {
        width: auto;
        height: 100%;
    }

    .two .first,
    .four .first {
        left: 15px;
        top: 15px;
        right: 50%;
        bottom: 15px;
    }

    .two .first {
        padding-right: 7px;
    }

    .two .second,
    .four .second {
        left: 50%;
        top: 15px;
        right: 15px;
        bottom: 15px;
    }

    .two .second {
        padding-left: 7px;
    }

    .four .sample img {
        width: 100%;
        height: auto;
    }
}